go 1.24.11

toolchain go1.24.13

use (
	./gen/go
	./pkg/database
	./pkg/errcode
	./pkg/gp
	./pkg/jwt
	./pkg/kafka
	./pkg/metrics
	./pkg/oss
	./pkg/pagination
	./pkg/redis
	./pkg/tracing
	./services/chatroom
	./services/contact
	./services/gateway
	./services/group
	./services/media
	./services/message
	./services/push
	./services/sequence
	./services/user
)

replace go.yaml.in/yaml/v2 v2.4.2 => gopkg.in/yaml.v2 v2.4.0
