go 1.24.6

use (
	./gen/go
	./pkg/database
	./pkg/errcode
	./pkg/gp
	./pkg/jwt
	./pkg/kafka
	./pkg/logger
	./pkg/metrics
	./pkg/pagination
	./pkg/redis
	./pkg/tracing
	./services/chatroom
	./services/contact
	./services/gateway
	./services/group
	./services/media
	./services/message
	./services/push
	./services/sequence
	./services/user
)
